[Unit]
Description=Gluster Prometheus Exporter
Before=glusterd.service

[Service]
ExecStart=/gluster-exporter/gluster-exporter --config=/gluster-exporter/gluster-exporter.toml
KillMode=process

[Install]
WantedBy=multi-user.target
